.venv
frontend/node_modules
.env
!.env.sample

# static
.azure/
__pycache__/
.ipynb_checkpoints/
.devcontainer
static/assets
.terraform*
terraform.tfstate
terraform.tfstate.backup
secrets.json
static/index.html