.questionInputContainer {
    height: 120px;
    position: absolute;
    left:95px;
    right:0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    font-family: "DMSans-Regular";
}

.questionInputTextArea {
    font-family: "DMSans-Regular";
    width: 100%;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.questionInputSendButtonContainer {
    position: absolute;
    right: 24px;
    bottom: 20px;
}

.questionInputSendButton {
    width: 24px;
    height: 23px;
}

.questionInputSendButtonDisabled {
    /* opacity: 0.4; */
    width: 24px;
    height: 23px;
    background: none;
    color: #424242;
}

.questionInputBottomBorder {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0%;
}

.questionInputOptionsButton {
    cursor: pointer;
    width: 27px;
    height: 30px;
}


@media (max-width: 480px) {
    .questionInputContainer {
        left: 16.5%;
    }
}

.modalContainer{
    padding:5% 10%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'PlayfairDisplay';
    font-size: larger;
    text-align: center;
    align-self: center;
    display:flex;
    justify-content: center;

}

.modalContent {
    font-family: "DMSans-Regular";
}

.closeBtn {
    position: absolute;
    top: 20px;
    color: #000;
    font-size: 18px;
}

.useCaseRowContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.useCaseContainer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 15px 25px;
    border-radius: 20px;
    margin: 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:20%;
    transition: transform 0.2s ease; /* Add transition property */
    cursor: pointer; 
}

.useCaseContainer:hover {
  transform: scale(1.05); /* Apply scaling effect on hover */
}


.useCasePageContainer {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px 25px;

}
  

.useCaseText {
padding-right: 5%;
}

.useCaseButtonContainer {
text-align: right;
margin-top: 10px;
}