.shareButtonRoot {
    min-width: 110px;
    height: 50px;
    padding: 14px 22px;
    border: 3px solid #141414;
    border-bottom-width: 6px;
    border-radius: 100px;
    background-color: hsl(0, 0%, 100%);

  }
  
  .purple:hover {
    background-color: #e7d2ff;
  }
  .blue:hover {
    background-color: #c8e9ff;
  }
  .green:hover {
    background-color: #cafce5;
  }
  .salmon:hover {
    background-color: #ffcfca;
  }

  
  .shareButtonRoot span {
    line-height: 20px;
    color: hsl(0, 0%, 0%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .shareButtonRoot i, .shareButtonRoot:hover i {
    color: #FFFFFF !important;
  }




  .tryitButtonRoot {
    width: 110px;
    height: 50px;
    padding: 14px 22px;
    border: 3px solid #141414;
    border-bottom-width: 6px;
    border-radius: 100px;
    background-color: hsl(0, 0%, 100%);

  }
  
  .tryitButtonRoot span {
    line-height: 20px;
    color: hsl(0, 0%, 0%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .tryitButtonRoot i, .tryitButtonRoot:hover i {
    color: #FFFFFF !important;
  }
  




  .historyButtonRoot {
    width: 180px;
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:hover {
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:active {
    border: 1px solid #D1D1D1;
  }

  @media (max-width: 480px) {
    .shareButtonRoot {
      width: auto; 
      padding: 5px 8px; 
    }

    .historyButtonRoot {
      width: auto;
      padding: 0 8px  
    }
  }